<div class="message <%= user_is_messages_author ? "right" : "" %>">
  <%= cl_image_tag message.sender.photos.first.picture, class: "avatar", style: "object-fit:cover" %>
  <div class="message-content">
    <%= message.body %>
    <span class="message-time">
      <%= message.time %>
    </span>
  </div>
</div>
