// Define variables for your color scheme

// Colors we use:
$red: #9B2E2E;
$green: #2E996E;
$black: #242038;
$white: #FFFFFF;
$text: #333333;

// Previous colors
// $blue: #568cdd;
// $yellow: #ffa601;
// $green: #91f7dd;
// $blue: #9B2E2E;
// $yellow: #ffa601;
// $orange: #E67E22;
// $gray: #444444;
// $light-gray: #F4F4F4;
// $purple: #A26EA1;
