// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: rgb(86, 140, 221);
$yellow: rgb(255, 166, 1);
$orange: #E67E22;
$green: rgb(145, 247, 221);
$gray: #333333;
$light-gray: #F4F4F4;
$purple: #A26EA1;
