body {
  color: $gray;
}

.primary-color {
  color: $blue;
}

.flexbox-vertical {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flexbox-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flexbox-left {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.flexbox-left-vertical {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: center;
  width: 100%;
}

.div-margin {
  margin: 20px auto;
}

.item-padding {
  padding: 5px 10px;
}
