.homepage-banner {
  background: $black;
  height: calc(100vh - 70px);
  width: 100vw;
  color: $gray;
  display: flex;
  flex-direction: column;
  justify-content: right;
  position: relative;
  overflow: hidden;
}

.banner-content {
  color: white;
  position: absolute;
  top: 35vh;
  left: 7vw;
  h1 {
    font-size: 3em;
  }
  p {
    color: $white;
    opacity: 0.85;
  }
}

.homepage-sections {
  width: 100vw;
}

.homepage-icon-container {
  max-width: 200px;
  margin: 30px;
  p {
    font-size: 0.8em;
  }
}

.homepage-icon {
  height: 100px;
}
