.banner-container {
  background-image: url("https://res.cloudinary.com/dkft9hkkv/image/upload/v1543515737/Date%20Fishing/Homepage_Cover.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: calc(100vh - 70px);
  color: white;
  padding-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.banner-content {
  h3 {
    opacity: 0.85;
  }
}
