.experiencesContainer {
  height: calc(100vh - 120px);
  width: 100vw;
  background-color: white;
  overflow: hidden;
}

.formSliderContainer {
  height: calc(100vh - 70px);
  width: 400vw;
  display: flex;
  transition: all ease 1s;
}

.formContainer {
  display: flex;
  height: 100%;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.button-container-form {
    width: 96%;
    display: flex;
    justify-content: space-between;
    .btn {
      padding: 14px 60px;
      background-color: #4e4579
    }
  .muted {
    background-color: lightgrey;
    border: none;
  }
}

#input-1 {
  border-bottom: solid 3px #4e4579;
  font-size: 1.4vw;
  font-weight: bolder;
  color: black;
  padding: 8px;
  width: 300px;
}

#photo-file-name {
  margin-left: 15px;
}

#input-1::placeholder {
    color: lightgrey;
  }

#input-3::placeholder {
  color: lightgrey;
}

#input-4::placeholder {
  color: lightgrey;
}

.flatpickr-input::placeholder {
  color: lightgrey;
}


#input-2 {
  border: solid 3px;
  color: lightgrey;
  font-size: 1.3vw;
  border: 0;
  // border-color: #664b79;
  padding: 12px 3px;
  background-color: #4e457900;
  font-weight: bolder;
  // border-bottom: solid 3px #4e4579;
  width: 300px;

  option {
  font-weight: bolder;
  color: grey;
  }
}

.right-side-arrow {
  margin-top: 115px;
  margin-left: 7vw;
  font-size: 4vw;
  opacity: 0.6;
  transition: ease all 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.03);
  }
}

.left-side-arrow {
  margin-top: 115px;
  margin-right: 7vw;
  font-size: 4vw;
  opacity: 0.6;
  transition: ease all 0.3s;
  &:hover {
    cursor: pointer;
    opacity: 1;
    transform: scale(1.03);
  }
}

.create-form-flexbox {
  height: 60vh;
  width: 50vw;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: top;
  // background-color: rgb(150, 150, 150);
  // box-shadow: 0px 3px 15px rgba(0,0,0,0.2);

}

.button-container {
  display: inline;
}

.final-cta-container {
  a {
   color: #939393;
  }
  text-align: center;
}

#input-4, .flatpickr-input  {
  width: 300px;
  border: solid 3px;
  color: black;
  font-size: 1.3vw !important;
  border: 0 !important;
  border-color: #664b79;
  padding: 12px 3px;
  padding: 28px 8px;
  border-radius: 0;
  background-color: #4e457900;
  font-weight: bolder;
  border-bottom: solid 3px #4e4579 !important;
}

.btn-special-photo {
  padding: 1px 28px;
  margin-top: 13px;
  border: solid 3px;
  color: #cacaca;
  border-color: #4e4579;
  box-shadow: 1px 1px 4px 0px #7171715e;
  font-size: 2vw;
  background: white;
  transition: ease all 0.3s;
}

#input-3 {
  width: 300px;
  border: solid 3px;
  color: black;
  font-size: 1.3vw;
  border: 0;
  border-color: #664b79;
  padding: 12px 3px;
  background-color: #4e457900;
  font-weight: bolder;
  border-bottom: solid 3px #4e4579;
}

#submit-experience-button {
    margin-top: 34px;
    width: 10vw;
    font-size: 1.5vw;
    font-weight: bold;
    margin-bottom: 17px;
    background-color: #9b2e2d;
    &:hover {
      opacity: 0.85;
      transform: scale(1.03, 1.03);
  }
}

#new-date-3-back {
  &:hover {
  opacity: 0.85;
  text-decoration: none;
  transform: scale(1.03, 1.03);
  }
}

.create-form-image-flexbox {
  display: flex;
  align-items: flex-end;
  justify-content: left;
}

.upper-form {
  vertical-align: center;
}

.flexbox-gofish-button {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}

.arrow-hide {
  opacity: 0;
  &:hover {
    opacity:0;
    cursor: default;
  }
}

.categories-container {
  padding-bottom: 10px;
  width: 300px;
  border-bottom: solid 3px #4e4579;
}

.intro-select {
 color: lightgrey;
}

.selected-item {
  color: red;
}

