@import "false-forms";

.filters-container {
  display: flex;
  justify-content: left;
  margin: 30px auto;
  padding-left: 55px;
}

.filter-item {
  margin-right: 20px;
}

.search-bar-width {
  width: 50vw;
}
