.new-experience {
margin: 100px;
}

.left {
  float: left;
  width: 500px;
}

.right {
  padding-left: 0;
  float: right;
  width: 500px;
}

.headers {
  margin: -15px;
  width: 500px;
  padding-bottom: 35px;
}
