<div class='modal fade' id="date-filter-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-padding modal-background">

    <h2 class="text-center">When?</h2>
      <button type="submit" class="btn btn-primary">Tomorrow</button>
      <button class="btn btn-primary">Next Weekend</button>
      <button class="btn btn-primary">Select Range</button>
    </div>
  </div>
</div>
