<div class="modal fade" id="user-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-padding modal-background">
      <div class="modal-image-container">
        <%= cl_image_tag @experience.user.photos.first.picture, class: 'modal-image' %>
      </div>
      <h2><%= @experience.user.full_name  %></h2>
      <strong>Age: </strong><%= @experience.user.age %>
      <%= content_tag :p, @experience.user.bio %>
    </div>
  </div>
</div>


