<div class="modal fade" id="user-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content modal-padding modal-background">
      <div class="modal-image-container">
        <%= cl_image_tag @experience.user.photos.first.picture, class: 'modal-image' %>
      </div>

      <div class="name">
        <%= @experience.user.full_name %> | Age: <%= @experience.user.age %>
      </div>

      <div class="content">
        <%= content_tag :p, @experience.user.bio %>
      </div>

    </div>
  </div>
</div>


