<div class="banner-container flexbox-left-vertical banner-padding">
  <div class="banner-content">
    <h1>Date Fishing</h1>
    <p>Go on really, really fucking cool dates.</p>
    <%= link_to "Create a Date", new_experience_path, class: 'btn btn-primary', style: 'margin-top: 15px' %>
  </div>
</div>
