<div class="banner-container text-center">
  <div class="banner-content flexbox-left">
    <h1>Date Fishing</h1>
    <h3>Go on really, really cool dates.</h3>
    <%= link_to "Create a Date", new_experience_path, class: 'btn btn-primary' %>
  </div>
</div>
