<!-- SECTION 1: BANNER -->
<div class="homepage-banner">

  <!-- FERRIS WHEEL -->
  <%= render 'shared/ferris-wheel' %>

  <!-- TEXT -->
  <div class="banner-content">
    <h1>Date Fishing</h1>
    <p>Post and browse really, really cool date experiences.</p>
    <%= link_to "Explore", experiences_path, class: 'btn btn-primary item-padding' %>
  </div>
</div>
