.login-modal-content {
  padding: 30px;
  color: $text;
}

#user_remember_me {
  padding: 15px;
}

.form-check-label {
  padding: 10px;
}

.login-form{
  padding: 10px;
}

.login-title{
  margin: 10px;
}

