// .location-card {
//   width: 450px;
// }

// .location-modal-dialog {
//   width: 390px !important;
//   height: 390px !important;
//   overflow-y: hidden;
// }

// .mapboxgl-canvas {
//   height: 390px;
//   width: 390px;
// }
#mapmapmap{
  .mapboxgl-canvas{
    height: 300px !important;
    width:390px !important;
  }
  .mapboxgl-canvas-container.mapboxgl-interactive.mapboxgl-touch-drag-pan.mapboxgl-touch-zoom-rotate{
    height: 300px !important;
    width:390px !important;
  }
  .modal-dialog.location-modal-dialog{
    height: 300px !important;
    width: 390px !important;
    background-color: transparent;
  }
  .modal-content{
    background-color: transparent;
    display: flex;justify-content: center; flex-direction: column; align-items: center;
  }
  .newdata{
    height: 100px;
    width: 390px;
    background: white;
    padding: 20px;
    color: $text !important;
  }

  .location-date {
    padding-top: 10px;
    color: $text !important;
  }

  .location-address {
    color: $text !important;
    font-weight: bold;

  }
}
