@keyframes zoom {
  from {
    object-position: 50 0%;
  }
  to {
    object-position: 0 100%;
  }
}
@keyframes blur {
  from {
    transform: scale(1, 1);
    transition: all 0.3s ease;
  }
  to {
    transform: scale(2, 2);
    transition: all 0.3s ease;
  }
}
.grid {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
}
.grid:after {
  content: '';
  display: block;
  clear: both;
}
.grid-item {
  float: left;
  border-radius: 4px;
  margin: 5px;
  transition: all 0.8s ease;
  overflow: hidden;
  &:hover {
    transform: scale(1.015, 1.015);
    .grid-avatar {
      opacity: 1;
      p {
        opacity: 0.75;
      }
    }
  }
}
.grid-image {
  width: 320px;
  overflow: hidden;
}
.grid-image img {
  transform: scale(1, 1);
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 1;
  transition: all 0.65s ease;
}
.grid-item:hover .grid-image img {
  transform: scale(1.05, 1.05);
  opacity: 0.75;
//   animation-name: zoom;
//   animation-duration: 30s;
//   animation-direction: alternate;
//   animation-timing-function: linear;
//   animation-iteration-count: infinite;
}
.grid-text-container {
  width: 320px;
  background: white;
  padding: 10px 5px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}
.grid-text-title {
  width: 72%;
  color: $text;
}
.grid-text-date {
  width: 22%;
  color: $red;
  text-align: right;
}
.grid-image-background {
  z-index: 1;
  background: black;
  position: relative;
}

.grid-avatar {
  transition: ease all 0.8s;
  position: absolute;
  top: 15px;
  right: 15px;
  opacity: 0;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-content: center;
  // text-align: right;
  // width: 100%;
  // padding-right: 10px;
  img {
    height: 75px;
    width: 75px;
    object-fit: cover;
    border-radius: 50%;
    border: 0.5px solid rgba(255, 255, 255, 0.15);
  }
  p {
    color: white;
    text-align: center;
  }
}
