.notification {
  height: 30px;
  width: 30px;
}

#message-notification {
  position: relative;
  right: 34px;
  top: -8px;
}

#profile-notification {
  position: relative;
  right: 34px;
  top: -8px;
}
