.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.avatar-large {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.avatar-show-page {
  width: 125px;
  height: 125px;
  border-radius: 50%;
  object-fit: cover;
}

.avatar-small {
  width: 50px;
  height: 50px;
  object-fit: cover;
}

.modal-image-container
{
  width: 100%;
  display: flex;
  justify-content: center;
}

.modal-image {
  object-fit: cover;
  width: 300px;
  height: 300px;
  border-radius: 2px;
}
