.my-date {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  a {
    color: black;
    &:hover {
      text-decoration: none;
    }
  }
}
.my-date:last-child {
  border-bottom: none;
}

.date-title {
  flex-grow: 1;
  font-size: 20px;
  margin-left: 20px;
  padding-left: 10px;
  padding-left: 20px;
  color: $white;
  h4 {
    opacity: 0.85;
    margin-bottom: 0px;
    a {
      margin-left: 6px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
    }
    span {
      margin-left: 6px;
      font-size: 14px;
      color: rgba(255, 255, 255, 0.6);
    }
  }
}

.date-nibbles a {
  margin-right: 30px;
  font-size: 14px;
  font-weight: bold;
}
.nibble-dropdown{
  background-color: white;
}
.date-nibble {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
}
.date-nibble-name {
  flex-grow: 1;
  font-size: 20px;
  margin-left: 10px;
  padding-left: 10px;
  font-size: 13px;
  color: $red;
  padding-left: 20px;
  h4 {
    margin-bottom: 0px;
    a {
      margin-left: 6px;
      font-size: 14px;
    }
  }
}
.date-nibble-buttons {
  margin-right: 20px;
  font-size: 14px;
}

.no-nibbles {
  color: $black;
}
