.user-card-name {
  color: $black;
  font-size: 24px;
  padding-top: 10px;
  text-align: center;
}

.modal-image-container {
  border-radius: 4px 4px 0 0;
  width: 100%;
  height: 65%;
  overflow: hidden;
  padding-bottom: 15px;
}

.modal-image-container img {
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;

}

.user-card-content {
  color: $black;
  display: flex;
  justify-content: center;
  align-content: center;
  margin: 20px;
}

.user-modal-dialog {
  height: 650px;
  width: 450px;
}

.user-modal-content {
  background: $white;
  border-radius: 4px;
  width: 390px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-content: center;
}

.user-card {
  border-radius: 4px;
  width: 390px;
  background: $white;
}

.user-x-button {
  position: absolute;
  top: 5px;
  right: 10px;
}


