.name{
  font-weight: bold;
  content-align: left;
}

.modal-image-container {
  border-radius: 10px;
}

#user-modal {
  padding: 30px;
  border-radius: 8px;
}

.content {
  padding: 30px;
}

.modal-content {
  padding: 15px;
}


